@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "mixins";
@import "variables";
@import "footer";

:root{
  font-size: 10px;
  font-family: 'Roboto';

}
a{
  display: block;
}
main article header h2 {
  text-underline: #99E2D0;
}
input{
  visibility:hidden;
}
.check {
  visibility: hidden;
}
h1 {
  font-family: 'Shrikhand';
}
main form article section div h3 {

  font-weight: bold;
}
header h1 {
  text-align: center;
}

#titre {
  position: relative;
  border-radius: 20px 20px 0 0;
}
div {
  border-radius: 10px;
  background-color: white;
  margin: 10px 0px 10px 0px;
}

main {
  background-color: lightgray;
  margin-top: -40px ;
}
form{
  padding:0px 15px 15px 15px;
}
main section div {

}

#commander{
  text-align: center;
}
footer {
  @include footer();


}
footer {

} a,footer h1  {
  color: white;
} i {
  padding-right: 0.5em;
}