@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import "variables";
@import "mixins";
@import "footer";



:root {
  font-size: 10px;
}

h1, h2, h3 {
  font-weight: bold;
}

button {
  @include bouton();
}

body {
  font-family: 'Roboto';
}

header {
  display: grid;
  grid-template-areas:
            "title"
            "localisation"
            "reservation"
             "fonctionnement";
  text-align: center;
  grid-template-rows: 0.5fr 4fr 1fr;

  h1 {
    grid-area: title;
    color: black;
    font-family: 'Shrikhand';
  }

  i {
    font-size: 1.2rem;
    padding-right: 10px;
  }
}


#fonct {
  text-align: left;
  margin: 20px;

}
form {
  background-color: $fond;
}
header form div {
  grid-area: reservation;

}
header form {
  h2 {
    padding: 20px 60px 20px 60px;
  }

  p {
    padding: 0 25px 0 25px;
    font-size: 1.2rem;
  }
}

header form label {
  background-color: #eaeaea;
  display: block;
  grid-area: localisation;
  box-shadow: 1px 2px 5px grey;

  input {
    display: inline-block;
    line-height: 30px;
    background-color: #eaeaea;

  }}

  header #city {
    grid-area: localisation;
    color: black;
    line-height: 30px;
  }

  header ul li {
    padding: 20px 30px;
    border-radius: 20px;
    margin: 15px;
    font-size: 1.3rem;
    background-color: $fond;
    line-height: 10px;
    position: relative;
    text-align: left;
    box-shadow: 6px 10px 17px lightgrey;
    &:hover{
      background-color: #f5edff;
      i {
        color: $primaire;
      }
    }

    &::before {
      content: counter(li);
      display: flex;
      position: absolute;
      left: -10px;
      border-radius: 50%;
      background-color: $primaire;
      height: 20px;
      top: 50%;
      width: 20px;
      transform: translateY(-10px);
      justify-content: center;
      line-height: 20px;
      color: white;
    }

  }


  header ul li i {
    width: 20px;

  }

  li {
    counter-increment: li
  }

  input {
    border: none;
  }


  main {
    background-color: $fond;
    display: grid;
    grid-template-areas:
    "titre"
    "resto1"
    "resto2"
    "resto3"
    "resto4";
    grid-gap: 20px;
    padding: 40px 20px 40px 20px;

    h2 {
      grid-area: titre;
    }
  }


  #resto1 {
    grid-area: resto1;
  }

  #resto2 {
    grid-area: resto2;
  }

  #resto3 {
    grid-area: resto3;
  }

  #resto4 {
    grid-area: resto4;
  }

  figure {
    position: relative;

    figcaption {
      background-color: white;
      border-radius: 0 0 10px 10px;
      padding: 10px;

    }

  }

  main article figure img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
  }

  main article a {
    display: block;
  }

  .nouveau {
    position: absolute;
    right: 20px;
    top: 12px;
    background-color: $tertiaire;
    color: green;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px;
  }

.fa-heart {
  position: absolute;
  right: 20px;
  bottom: 15px;

  color: black;

}


.fa-heart:before {
  content: "\f004";
  transition: color 1s ease-out;
  font-size: 2rem;
}
.fa-heart:hover::before{
  cursor: pointer;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to top,$primaire  ,$secondaire);
  -webkit-background-clip: text;
  transform: translate(-50%, -50%);
  transition: all .3s ease-out;
  cursor: pointer;


}

/*chargement*/

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$dark: rgba(0, 0, 0, 0.8);



#no-freeze-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.1s linear;
  opacity: 0;
  height: 100vh;
  transform: scale(10);
  z-index: -1;
  background: $dark;
}
.no-freeze-spinner #no-freeze-spinner {
  z-index: 9999;
  opacity: 0.5;
  transform: scale(1);
  animation: loading-disparition .5s 3s ease-in forwards;
}
@keyframes loading-disparition {
 from {
   opacity:1;
  }

  to {
   opacity: 0;
    z-index: -6;
    position: absolute;
    width: 0%;


  }
}
#no-freeze-spinner > div > div {
  animation-play-state: paused;
  border: 5px solid $primaire;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
  border-left-color: $secondaire;
  width: 100%;
  height: 100%;
}
#no-freeze-spinner > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 0 2000px $dark;
  width: 60px;
  height: 60px;
  padding: 5px;
}
.no-freeze-spinner #no-freeze-spinner div div {
  animation-play-state: running;
}
@keyframes loadicons {
  0% {
    transform: scale(0) translate3d(0, 0, 0);
  }
  11% {
    transform: scale(1.2) translate3d(0, 0, 0);
  }
  22% {
    transform: scale(1) translate3d(0, 0, 0);
  }
  33% {
    transform: scale(0) translate3d(0, 0, 0);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.no-freeze-spinner #no-freeze-spinner i {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: $tertiaire;
  width: 24px;
  height: 24px;
  line-height: 1;
  transform: scale(0) translate3d(0, 0, 0);
}
.no-freeze-spinner #no-freeze-spinner i:nth-of-type(1) {
  animation: loadicons 3s infinite ease-in-out;
}
.no-freeze-spinner #no-freeze-spinner i:nth-of-type(2) {
  animation: loadicons 3s 1s infinite ease-in-out;
}
.no-freeze-spinner #no-freeze-spinner i:nth-of-type(3) {
  animation: loadicons 3s 2s infinite ease-in-out;
}





@media screen and (min-width: 426px) /**tablette**/
{
  main  {

    display: grid;
    grid-template-areas:
    "titre titre"
            "resto1 resto2"
            "resto3 resto4";
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

  }
  main h2 {
    grid-area: titre;
    text-align: center;
  }
  #resto1 {
    grid-area: resto1;
  }
  #resto2 {
    grid-area: resto2;
  }
  #resto3 {
    grid-area: resto3;
  }
  #resto4 {
    grid-area: resto4;
  }
  footer {
    text-align: center;
  }
}
@media screen and (min-width: 769px) //**ordinateur***/
  {
  header ul li {
    width: 50%;

  }
  header ul {
    display: flex;
  }
  #fonct {
    text-align: center;
  }

}