@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
    font-size: 10px;
    font-family: 'Roboto';

}
h1 {
    font-family: 'Shrikhand';
}
main form article section div h3 {

    font-weight: bold;

}
header h1 {
display: contents;
}
main {


}
main section div {

}

#commander{
    text-align: center;
}
footer {
    background-color: black;


}
footer a,footer h1  {
    color: white;
}