main  {

    display: grid;
    grid-template-areas:
    "titre titre"
            "resto1 resto2"
            "resto3 resto4";
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}
main h2 {
    grid-area: titre;
    text-align: center;
}
#resto1 {
    grid-area: resto1;
}
#resto2 {
    grid-area: resto2;
}
#resto3 {
    grid-area: resto3;
}
#resto4 {
    grid-area: resto4;
}
footer {
    text-align: center;
}
